.aws-config.json
.DS_Store
.node_binaries
node_modules
bower_components
**/*.css
trash
build
target
.jruby
.idea
*.iml
*.log
esvm
.htpasswd


# Potentially sensitive seed data
.grunt
logs
*.pid
*.pcap

/.vagrant
/seed/es
/seed/*.pcap
